<h2 class="mb-3">Statistik</h2>
<div class="tiles">
  <div class="tile"><div class="icon"><i class="fa fa-video"></i></div>
    <div class="meta"><div class="k">Videos</div><div class="v"><%= stats.videos %></div></div></div>
  <div class="tile"><div class="icon"><i class="fa fa-broadcast-tower"></i></div>
    <div class="meta"><div class="k">Lives</div><div class="v"><%= stats.lives %></div></div></div>
</div>
